---
import PomodoroTimer from "../components/PomodoroTimer.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <ThemeToggle />

  <main class="main">
    <PomodoroTimer />
  </main>
</BaseLayout>

<style>
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    max-width: 480px;
    width: 100%;
  }

</style>
